/* Notification.css */
* {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: 'Roboto', sans-serif;
    width: 390px;
    height: 844px;
    top: 494px;
    left: 3686px;
    padding: 30px 20px 144px 20px;
}
  
h1 {
    color: var(--black, #525252);
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.48px;
}
  
h2 {
    color: var(--black, #525252);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
}
  
h3 {
    color: #868686;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.28px;
}
  
img {
    position: relative;
    left: -10px;
    top: 19px;
}
  
.Nobara {
    position: relative;
    left: 150px;
    top: 100px;
    border: solid 3px rgb(252, 249, 249);
    padding: 40px;
    padding-top: 94px;
    padding-bottom: 144px;
}
  
.notification-item {
    border: solid white;
    border-radius: 1px;
    box-shadow: 3px 5px rgb(248, 246, 246);
    margin-bottom: 20px;
}
  
.notification-item div {
    display: inline-block;
}
.solo  {
    position: absolute;
    font-weight: bolder;
    width: 350px;
    height: 610px;
    top: -50px;
    left: -90px;

}
.solo .maki {
    margin: 20px;
    padding: 100px;
    text-align: center;
    width: 133px;
    height: 28px;
}
p {
    position: absolute;
    top: 120px;
    left: 250px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    color: gray;
}
.a{
    position: absolute;
    top: 205px;
    left: 250px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    color: gray;
}
.b{
    position: absolute;
    top: 285px;
    left: 250px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    color: gray;
}
.c {
    position: absolute;
    top: 370px;
    left: 250px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    color: gray;
}
.d {
    position: absolute;
    top: 450px;
    left: 250px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    color: gray;
}
.e {
    position: absolute;
    top: 530px;
    left: 250px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    color: gray;
}
.itadori {
    
    border: solid white;
    border-radius: 1px;
    box-shadow: 3px 5px rgb(248, 246, 246);
}
.sukuna {
    border: solid white;
    border-radius: 1px;
    box-shadow: 3px 5px rgb(248, 246, 246);
}
.gojo {
    border: solid white;
    border-radius: 1px;
    box-shadow: 3px 5px rgb(248, 246, 246);
}
.okkotsu {
    border: solid white;
    border-radius: 1px;
    box-shadow: 3px 5px rgb(248, 246, 246);
}
.geto {
    border: solid white;
    border-radius: 1px;
    box-shadow: 3px 5px rgb(248, 246, 246);
}
.megumi {
    border: solid white;
    border-radius: 1px;
    box-shadow: 3px 5px rgb(248, 246, 246);
}
