.signup-content{
    overflow-x: hidden;
    overflow-y: scroll;
}

.signup-content .bottom-text{
    display: flex;
    position: static;
    margin-top: 10px;
}

.signup-content .heading{
    width: 90%;
    width: 330px;
     line-height: 30px;
     display: flex;
    flex-direction: column;
    align-items: flex-start;
}