.create-password-content, 
.personal-details-content{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.create-password-content .heading p,
.personal-details-content .heading p{
    margin-top: 15px;
    font-size: 14px;
    line-height: 23px;
}

.create-password-content .submit-btn{
    margin-top: 25px;
}

.signup-content .heading,
.create-password-content .heading,
.personal-details-content .heading{
    width: 90%;
    max-width: 330px;
     line-height: 30px;
     display: flex;
    flex-direction: column;
    align-items: flex-start;
}
