@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,400;16..144,500;16..144,600;16..144,700&family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Roboto", sans-serif;
}

.dotted {
	background-image: url("/public/assets/icons/border.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

/* Unselectble Images */
img {
	pointer-events: none;
	user-select: none;
}

/* Remove Input Styles */
button:hover,
button:focus {
	outline: none;
}

input:hover,
input:focus,
input:active {
	outline: none;
}

textarea {
	overflow: auto;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	resize: none; /*remove the resize handle on the bottom right*/
}
